In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv("Datas/orders.csv")

In [69]:
df.head()

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
0,1001,John Smith,tim,Electronics,1,1200.0,2024-06-01,Yes,USA
1,1002,Sarah Lee,Headphones,Electronics,2,150.0,2024-06-03,No,CANADA
2,1003,Ali Khan,Office Chair,Furniture,1,300.0,2024-06-04,Yes,UAE
3,1004,Alice Wong,Desk Lamp,Furniture,3,45.0,2024-06-05,Yes,SINGAPORE
4,1005,None,Keyboard,Electronics,2,80.0,2024-06-06,No,MEXICO

In [62]:
df["Country"] = df["Country"].str.upper()

In [67]:
len(df)

40

In [68]:
df.loc[df["OrderID"] == 1005, "CustomerName"] = None

In [73]:
df = df.dropna()

In [88]:
df.groupby('Country')["Price"].max()

Country
ARGENTINA         22.0
AUSTRALIA         12.0
BRAZIL            95.0
CANADA           150.0
CHINA            280.0
COLOMBIA          42.0
EGYPT              8.0
FRANCE            85.0
GERMANY          140.0
INDIA            180.0
IRAN              28.0
ITALY             18.0
JAPAN             55.0
MOROCCO           32.0
PAKISTAN           4.0
POLAND            45.0
PORTUGAL         125.0
RUSSIA             2.5
SAUDI ARABIA     120.0
SINGAPORE         45.0
SOUTH KOREA      220.0
SPAIN             25.0
SWEDEN            28.0
UAE              300.0
UK               450.0
UKRAINE           35.0
USA             1200.0
Name: Price, dtype: float64

In [90]:
df.to_excel("test.xlsx")